@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < (int)ViewBag.NumTimes; i++)
    {
        <li>@ViewData["Message"]</li>
    }

</ul>
<p>@ViewBag.DataAcesso</p>